language: node_js
dist: trusty
node_js:
  - v8

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.7.0
  - export PATH="$HOME/.yarn/bin:$PATH"

install: yarn

before_script:
  - |
    if [ -z "${METAMASK_SECRET+x}" ]; then
      METAMASK_SECRET="cotton trap squeeze wealth aunt fork hungry notice entry early combine chalk"
    fi
    if [ -z "${METAMASK_NETWORK+x}" ]; then
      METAMASK_NETWORK=l
    fi
  - |
    if [ "${METAMASK_NETWORK:0:1}" = "l" ]; then
      git clone --depth=1 --branch=master https://github.com/PolymathNetwork/polymath-core.git polymath-core
      cd polymath-core
      npm install -g truffle
      npm install
      ganache-cli -i 15 -l 9000000 -m "$METAMASK_SECRET" > ganache.log &
      GANACHE_PID=$!
      sleep 5
      truffle migrate
      cd ..
    fi

script: xvfb-run --server-args="-screen 0, 1920x1080x24" npm test

after_script:
  - |
    if [ "${GANACHE_PID+x}" ]; then
      kill -9 $GANACHE_PID
    fi
  - bash trigger.sh

notifications:
  email:
    - josep@polymath.network